@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --body-color: #efefef;
    --border-color: rgba(26, 86, 48, 0.2);
    --bg-color: linear-gradient(135deg, #f9fcff, #cde4fc);
    --bg-card-color: linear-gradient(135deg, #adf1ff, #014968);
    --bg-menu: rgba(82, 138, 157, 0.2);
    --bg-footer: rgb(1, 73, 104, 0.8);
    --bg-hero: rgb(1, 73, 104, 1);
    --bg-primary: #fff;
    --bg-secondary: #eeeeee;
    --btn-primary: #014968;
    --btn-font-primary: #fff;
    --secondary: #1c5b78;
    --soft-color: rgba(170, 175, 174, 0.2);
    --font-primary: #000000;
    --font-secondary: #fff;
    --animate-duration: 1.5s;
    --border-radius: 7px;
    --warning: #b4293e;
    --attention: #b4a829;
    --success: #5c954f;
    --transparent: rgba(255, 255, 255, 0);

    font-size: 24px;

    @media (width < 768px) {
        font-size: 18px;
    }
}

* {
    font-family: Figtree, "Noto Sans", sans-serif;
    color: var(--font-primary);
    border: solid 0px transparent;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-image: var(--bg-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.container {
    margin: 0 auto;
    padding: 0;
    height: calc(100vh - 50px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.container.home {
    background: rgb(1, 73, 104, 0.5);
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 60px 10px;
    flex-wrap: wrap;

    @media (width < 768px) {
        width: 100%;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;

    img {
        width: 300px;
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    font-size: 1.3rem;
}

h2 {
    margin: 0.2em 0;
    font-size: 1.2rem;
    text-align: center;
}

h3 {
    flex-grow: 1;
    font-size: 1.1rem;
    padding-right: 0;
}


strong,
.strong,
.strong mark {
    font-weight: 600;
}

mark {
    font-weight: 500;
    font-variant: small-caps;
    background-color: var(--transparent);
}

.header {
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px 15px 0 10px;
    background: var(--bg-menu);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 0;
    z-index: 100;
}

.title {
    flex-grow: 1;
    margin: 0;
    padding-right: 20px;
    font-weight: 500;
    text-align: center;

    @media (width < 768px) {
        padding-right: 24px;
    }
}

p.title {
    padding: 0;
    font-size: .95em;
    text-align: start;
    font-weight: 500;
}

#ids {
    visibility: hidden;
}

#data-render {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chapter-render {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.books {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    padding-top: 20px;
}

.navigation {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px;
    gap: 5px;
}

.arrow-left,
.arrow-right {
    width: 60px;
    height: 40px;
    padding-right: 10px;
    padding-left: 0;
    visibility: visible;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: var(--btn-primary);
    background-size: cover;
    background-position: top left;
    clip-path: polygon(75% 0, 100% 47%, 75% 100%, 0 100%, 0 0);
    -webkit-clip-path: polygon(75% 0, 100% 47%, 75% 100%, 0 100%, 0 0);
    color: var(--btn-font-primary);

    @media (width < 768px) {
        visibility: hidden;
    }
}

.arrow-left {
    padding-left: 10px;
    padding-right: 0;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.chapters {
    display: flex;
    max-width: 800px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;

    @media (width < 768px) {
        width: 100%;
    }
}

.verses {
    width: 60%;
    margin: 0 auto;
    padding: 0 10px;

    @media (width < 768px) {
        width: 100%;
        padding-bottom: 30px;
    }
}

p.verse {
    margin: 0.7em 0;
    text-align: justify;
    -webkit-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-chars: 8 3 3;
    word-wrap: break-word;

    span.number {
        font-weight: 100;
    }

    span.number.strong {
        font-weight: 600;
    }
}

a {
    text-decoration: none;
}

a.chapter {
    width: 40px;
    padding: 0;
    aspect-ratio: 1/1;
    border-radius: 10px;
    background-color: var(--btn-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--btn-font-primary);
}

hr {
    margin: 10px 0;
    width: 100%;
    border-bottom: solid 1px silver;
}

ul.columns {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-left: 25px;
    list-style: none;
    column-count: 4;
    column-gap: 5px;

    @media (width < 768px) {
        column-count: 2;
    }

    li {
        break-inside: avoid;
    }
}

.icon {
    width: 30px;
    cursor: pointer;

    &.text-increase,
    &.text-decrease {
        width: 24px;
    }

    &.search {
        filter: invert();
    }

    &.disabled {
        filter: brightness(70%);
        cursor: default;
    }
}

.sobre {
    font-size: 24px;
    max-width: 850px;
    margin: 0 auto;

    @media (width < 768px) {
        width: 100%;
        padding: 0 10px;
        font-size: 18px;
    }
}

footer {
    position: fixed;
    width: 100%;
    padding: 10px;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: var(--bg-footer);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    z-index: 1000;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;


}

.footer a {
    color: var(--font-secondary);
    font-weight: 500;
}


/* Swal2 CSS */
.swal2-actions {
    flex-wrap: nowrap !important;
    margin: 0 !important;
    padding: 2em !important;
    gap: 20px;
}

.swal2-actions button:focus {
    outline: none;
}

#toast {
    position: fixed;
    visibility: hidden;
    top: calc(50vh - 50px);
    width: calc(50vw + 50px);
    padding: 0.8em;
    align-self: center;
    text-align: center;
    font-size: 1.1rem;
    color: var(--font-secondary);
    background-color: var(--warning);
    border-radius: var(--border-radius);
    z-index: 100;

    &.show {
        visibility: visible;
    }

    &.advice {
        background-color: var(--attention);
    }

    &.info {
        background-color: var(--success);
    }

    @media (width < 768px) {
        width: 100%;
        left: 0;
        bottom: 55px;
        align-self: flex-end;
        border-radius: 0;
    }
}


button.swal2-cancel {
    color: var(--font-secondary);
    background-color: var(--secondary);
}

/* Swal2 FIM */

.warning {
    color: var(--warning) !important;
    font-weight: 600;
}

.success {
    color: var(--success);
    font-weight: 500;
}

.bg-success {
    background-color: var(--success) !important;
}

.htmx-indicator {
    display: none
}

.htmx-indicator.htmx-request {
    display: inline;
}

.htmx-indicator.htmx-request~span {
    display: none;
}

#spinner {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;

    & img {
        display: none;
        width: 120px;
    }

    &.show {
        display: flex;
        justify-content: center;
        z-index: 1000;

        img {
            display: block;
        }
    }
}

#search-position,
#btn-position {
    position: fixed;
    bottom: 65px;
    width: 700px;
    align-self: center;
    background-color: var(--transparent);
    z-index: 100;

    @media (width < 768px) {
        width: 100%;
        left: 0;
        bottom: 55px;
        align-self: flex-end;
        border-radius: 0;
    }
}

#btn-position {
    visibility: hidden;

    &.show {
        visibility: visible;
    }
}

#btn-read {
    width: 100%;
    height: 55px;
    padding: 15px 50px;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: var(--btn-font-primary);
    background-color: var(--success);
    border-radius: var(--border-radius);
    box-shadow: 4px 4px 7px rgba(34, 34, 34, 0.2);

    @media (width < 768px) {
        border-radius: 0;
    }
}

#search-position {
    visibility: hidden;

    &.show {
        visibility: visible;
    }
}

.search-container::before {
    content: url(../icons/search.svg);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    filter: invert() brightness(60%);
}

input#search {
    width: 100%;
    height: 65px;
    padding: 15px 50px;
    font-size: 1.1rem;
    background-color: var(--bg-primary);
    border-radius: var(--border-radius);
    box-shadow: 4px 4px 7px rgba(34, 34, 34, 0.2);

    @media (width < 768px) {
        border-radius: 0;
    }

    &:focus {
        outline: none;
    }
}

.search-result {
    display: flex;
    flex-direction: column;
}

::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 100;
}


div.icon {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 0;
    gap: 30px;
}

a:hover {
    cursor: pointer;
}

div.icon {
    display: flex;
    justify-content: center;
    color: var(--secondary);
}